<div class="tlo">



  <section class="card-row">
    <article class="card" *ngFor="let entry of listOfEntries">
      <div>
        <img class="image"
        src="{{entry.image}}"
      />
      <h3>{{entry.entry_title}}<em><button mat-button color="primary"><mat-icon>thumb_up_alt</mat-icon> {{entry.totalLikes}}</button></em></h3>
      <h4>{{entry.entry_date| date:'medium'}}</h4>
    </div>
     <div class="text-wrapper">
      <p>
        {{entry.entry_text|slice:0:600}}
      </p>
     </div>
      <div  class="button" color="primary"  [routerLink]="['/moredetail', entry.id]" ><mat-icon>visibility</mat-icon> More</div>
    </article>

  </section>
  <br>
  <div class="actionPag">
    <button  *ngIf="checkpreviousurl" (click)="goPreviousPage()" mat-flat-button color="accent" >Poprzednia</button>
    <button  *ngIf="checkurl" (click)="goNextPage()" mat-flat-button color="warn" >Następna</button>
  </div>


</div>
