
<div class="mat-elavation z8">
  <mat-table [dataSource]="listData" matSort>
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.entry_title}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header >Data</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.entry_date| date:'medium'}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="totalLikes">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Like</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.totalLikes}}</mat-cell>
      </ng-container>
       <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="editPost()"><mat-icon>launch</mat-icon></button>
          <button mat-icon-button (click)="deletePost(element.id)" color="warn"><mat-icon>delete_outline</mat-icon></button>
        </mat-cell>
      </ng-container>
      <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row;columns:displayedColumns" ></mat-row>

  </mat-table>
  <mat-paginator [pageSizeOptions]="[1,3,6,100]" [pageSize]="3"></mat-paginator>

</div>
