<div class="example-card" >
<h1>Dodaj komentarz</h1>

          <form [formGroup]="myForm" (ngSubmit)="onSubmit()" >

            <div class="field">
              <label class="matTabLabel">Tytuł Komentarza</label><br>
              <input type="text" class="form-control"   formControlName="comment_title">
            </div>
            <div class="field">
              <label class="matTabLabel">Treść komentarza</label><br>
                <textarea class="form-control" matInput rows="20" cols="160" formControlName="comment_text" placeholder="Wpisz Tekst"></textarea>
             </div>

            <div class="field">
                <button type="submit"class="btn btn-primary">Dodaj Komentarz</button>
            </div>
           </form>
          <br>
<h1 class="panel-title" >
  Wszystkie Komentarze
</h1>
        <div class="card" *ngFor="let comment of listOfComments">

                <div class="post-heading">
                    <div>
                        <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                    </div>
                    {{comment.comment_title}}
                    <h5 class="underText"> {{comment.comment_author?.username}},{{comment.comment_date| date:'medium'}}</h5>

                </div>
                <div class="post-description">
                    <p>  {{comment.comment_text}}</p>
                </div>

        </div>
  </div>
