<link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
<div class="tlo">


<div class="login">

  <div class="login-form">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <h3>Username:</h3>
    <input type="text" formControlName="username" placeholder="Username"/><br>
    <h3>Password:</h3>
    <input type="password" formControlName="password" placeholder="Password"/>
    <br>
    <button type="submit"class="btn btn-primary" routerLink="posty">Loguj</button>
    <br>
    <button  class="btn btn-warning btn-inf"  (click)="goToRegister()"><a>Nie masz Konta? Stwórz</a></button>
    <br>
  </form>
  </div>
</div>

</div>
