<div class="box">
  <div class="boxheader">
   Stwórz Post
  </div>
   <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

        <div class="field">
          <label class="boxLabel" >Tytuł artykułu</label><br>
          <input type="text" class="form-control" formControlName="entry_title" [ngClass]="{ 'is-invalid': submitted && f.entry_title.errors }" >
          <div *ngIf="submitted && f.entry_title.errors" class="invalid-feedback">
            <div *ngIf="f.entry_title.errors.required">Tytuł jest wymagany </div>
            <div *ngIf="f.entry_title.errors.minlength">Za krótki tytuł </div>
          </div>
        </div>

        <div class="field">
         <label class="boxLabel" >Treść artykułu</label><br>

          <textarea class="form-control" matInput rows="20" cols="160" formControlName="entry_text" placeholder="Wpisz Tekst"
           [ngClass]="{ 'is-invalid': submitted && f.entry_text.errors }"></textarea>
          <div *ngIf="submitted && f.entry_text.errors" class="invalid-feedback">
            <div *ngIf="f.entry_text.errors.required">Tekst jest wymagany </div>
            <div *ngIf="f.entry_text.errors.minlength">Za krótki tekst </div>
          </div>
        </div>
        <div id="wrapper">
        <div class="fieldfile">

          <input type="file" id="file" name="image" (change)="onFileSelected($event)" />
           <label for="file" class="inputfile">
          <span>Wybierz Plik</span>
          </label>

        </div>

        <div class="fieldsubmit">
          <button type="submit" class="btn btnsubmit btn-primary">Stworz Post</button>
        </div>
      </div>

       </form>
</div>


