<div class="container"  >

  <div class="cardList" >

      <div class="nameUser">
        <input type="search" placeholder="Szukaj" [(ngModel)]="searchTerm">
       <p   *ngFor="let item of listOfUsers|receiverFilter:searchTerm"  (click)="getChatMessage(item.receiver.user.id)" >

         <img src="http://127.0.0.1:8000{{item.receiver.avatar}}"alt="">{{item.receiver.user.username}}<br></p>
      </div>
  </div>
  <div class="messageList" >

    <div class="infUser">

      <div class="infNick">
        <img src="http://127.0.0.1:8000{{receiverImg}}" alt="">
        <h1 >{{receiverName}}</h1>
      </div>

      <div class="infButton">
        <button mat-button color="accent"><mat-icon>call_made</mat-icon> Blog</button>
        <button mat-button color="accent"><mat-icon>call</mat-icon> Zadzwon</button>
      </div>



    </div>
    <div class="message-wrapper" #scrollMe [scrollTop]="scrollMe.scrollHeight" >
      <div *ngFor="let item of messagesReceiver;last as isLast" class="message">

        <span [ngClass]="{'senderSpan': item.sender.user.id==userid,'senderReceiv': item.receiver.user.id==userid,'lastsender':isLast}">
         {{item.sender.user.username}},{{item.timestamp|date:'medium'}}</span>
        <p [ngClass]="{'sender': item.sender.user.id==userid,'receiv': item.receiver.user.id==userid,'lastsender':isLast}">
          {{item.message}}

        </div>

      </div>
      <form [formGroup]="myForm" (ngSubmit)="sendMessage()">
        <div class="formMessage">
          <input type="text" class="addCom"   formControlName="message">
          <button type="submit"class="btn btn-primary addBtn">Wyślij</button>
        </div>
      </form>

  </div>

</div>
